@font-face {
  font-family: "AlegreyaSansMed";
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: "AlegreyaSCMed";
  src: url(../fonts/AlegreyaSC-Medium.ttf);
}
@font-face {
  font-family: "AlegreyaSCReg";
  src: url(../fonts/AlegreyaSC-Regular.ttf);
}
@font-face {
  font-family: "HelveticaNeueRoman";
  src: url(../fonts/HelveticaNeueRoman.otf);
}
@font-face {
  font-family: "HelveticaNeueItalic";
  src: url(../fonts/HelveticaNeueItalic.ttf);
}
@font-face {
  font-family: "NixieOneReg";
  src: url(../fonts/NixieOne-Regular.ttf);
}
