@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

@mixin heading {
  h3 {
    font-family: "AlegreyaSansMed";
    font-size: 2.25rem;
    font-weight: 500;
    color: #3a4f52;
  }
  p {
    font-family: "HelveticaNeueRoman";
    font-size: 0.875rem;
    color: #6a6a6a;
  }
}

@mixin heading-button {
  button {
    width: 6rem;
    height: 2.875rem;
    border: 1px solid #3a4f52;
    background-color: #fff;
    a {
      font-family: "HelveticaNeueRoman";
      font-size: 1.125rem;
      color: #3a4f52;
      text-decoration: none;
    }
  }
}

@mixin container-button {
  height: 2.2rem;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "HelveticaNeueRoman";
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.01rem;
  cursor: pointer;
}

@mixin grid-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@mixin parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
