@use "./Base/fonts";
@use "./Base/mixins";
@use "./Modules/heading";
@use "./Modules/gallery";
@use "./Modules/services";
@use "./Modules/blog";
@use "./Modules/quote";
@use "./Modules/testimonials";
@use "./Modules/contact";
@use "./Modules/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
//   font-size: 62.5%;
// }
