@use "./Base/mixins";
@use "./Base/variables";
@use "./Modules/heading";
@use "./Modules/gallery";
@use "./Modules/services";
@use "./Modules/blog";
@use "./Modules/quote";
@use "./Modules/testimonials";
@use "./Modules/contact";

@font-face {
  font-family: "AlegreyaSansMed";
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: "AlegreyaSCMed";
  src: url(../fonts/AlegreyaSC-Medium.ttf);
}
@font-face {
  font-family: "AlegreyaSCReg";
  src: url(../fonts/AlegreyaSC-Regular.ttf);
}
@font-face {
  font-family: "HelveticaNeueRoman";
  src: url(../fonts/HelveticaNeueRoman.otf);
}
@font-face {
  font-family: "HelveticaNeueItalic";
  src: url(../fonts/HelveticaNeueItalic.ttf);
}
@font-face {
  font-family: "NixieOneReg";
  src: url(../fonts/NixieOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
//   font-size: 62.5%;
// }
