@use "../Base/fonts";
@use "../Base/mixins";

.blog {
  height: 100%;
  .blog-heading {
    margin: 1.75rem 8.44rem;
    @include mixins.flex-between;

    .heading {
      @include mixins.heading;
    }
    .heading-button {
      @include mixins.heading-button;
    }
  }

  .blog-grid {
    margin: 3.75rem 8.44rem;
    @include mixins.grid-3col;

    .blogpost {
      width: 22.5rem;
      @include mixins.flex-start;

      img {
        width: 100%;
        object-fit: cover;
      }
      h4 {
        font-family: "AlegreyaSansMed";
        font-size: 1.875rem;
        font-weight: 500;
        color: #3a4f52;
        margin: 1rem 0;
      }
      .date {
        font-family: "HelveticaNeueItalic";
        margin-bottom: 1rem;
      }
      p {
        font-family: "HelveticaNeueRoman";
        font-size: 0.875rem;
        color: #6a6a6a;
        margin-bottom: 1rem;
      }

      a {
        font-family: "HelveticaNeueRoman";
        font-size: 0.875rem;
        color: #4da7ca;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

//  #  MEDIA QUERIES

@media (max-width: 992px) {
  .blog {
    .blog-heading {
      margin: 4.125rem 0.56rem;
      .heading-button {
        padding-right: 0.6rem;
      }
    }
    .blog-grid {
      margin: 4.125rem 0.56rem;
      .blogpost {
        width: 13.75rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .blog {
    .blog-grid {
      grid-template-columns: 1fr;
      row-gap: 2rem;
      .blogpost {
        width: 99%;
      }
    }
  }
}
