@use "../Base/fonts";
@use "../Base/mixins";

footer {
  height: 10rem;
  background-color: #2b3e51;
  p {
    font-family: "HelveticaNeueRoman";
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #fff;
    padding: 4.5rem 8rem;
  }
}

//  #  MEDIA QUERIES

@media (max-width: 992px) {
  footer {
    p {
      padding: 2rem 3rem;
    }
  }
}

@media (max-width: 768px) {
  footer {
    p {
      padding: 2rem 2rem;
      width: 45%;
      text-wrap: wrap;
    }
  }
}
