@use "../Base/fonts";
@use "../Base/mixins";

header {
  background: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  width: 100%;

  nav {
    @include mixins.flex-between;
    padding: 1.9rem 2.4rem 2.7rem 2.4rem;

    h1 {
      a {
        font-family: "AlegreyaSCMed";
        font-size: 2.25rem;
        line-height: 2.25rem;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.burger {
  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
  }
  &:hover {
    cursor: pointer;
  }
}

.main-heading {
  @include mixins.flex-center;
  margin-top: 13.5rem;

  h2 {
    font-family: "NixieOneReg";
    font-size: 3.25rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
  }
  p {
    font-family: "AlegreyaSCReg";
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
  }
}

//  #  MEDIA QUERIES

@media only screen and (max-width: 992px) {
  .main-heading {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 70vh;
    .main-heading {
      margin-top: 6rem;
      h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 0.75rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
}
