@use "../Base/fonts";
@use "../Base/mixins";

.quote {
  background: url(../img/hero3.png);
  @include mixins.parallax;
  @include mixins.flex-center;
  height: 45vh;
}

.quote-container {
  @include mixins.flex-center;
  @include mixins.heading;
  & {
    padding: 1.2rem 0.8rem;
    margin: 0 8.44rem;
    background-color: #00000033;
    max-height: 90%;
  }

  h3 {
    color: #fff;
    padding: 0 2rem;
  }
  .container-button {
    margin-top: 3rem;
    @include mixins.container-button;
  }
}

//  #  MEDIA QUERIES

@media (max-width: 992px) {
  .quote {
    height: 100%;
    .quote-container {
      margin: 4.125rem 0.56rem;
      h3 {
        text-align: center;
        padding: 0 1rem;
      }
      .container-button {
        @include mixins.container-button;
      }
    }
  }
}
