@use "../Base/fonts";
@use "../Base/mixins";

.service {
  background: url(../img/hero2.png);
  height: 70vh;
  @include mixins.parallax;
  @include mixins.flex-center;
}
.service-container {
  margin: 5rem 8.44rem 5rem 8.44rem;
  background-color: #00000033;

  .service-heading {
    padding-top: 1.25rem;
    text-align: center;
    @include mixins.heading;
    h3 {
      color: #fff;
      margin-bottom: 1.25rem;
    }
    p {
      color: #fff;
    }
  }
  .service-grid {
    @include mixins.grid-3col;
    row-gap: 3rem;
    margin: 3rem 0.25rem;
    .services {
      @include mixins.flex-center;
      img {
        width: 3.75rem;
        height: 3.75rem;
      }
      @include mixins.heading;
      h3 {
        color: #fff;
        margin-bottom: 1.25rem;
      }
      p {
        color: #fff;
        text-align: center;
        padding: 0 3rem;
      }
    }
  }
}
