@use "../Base/fonts";
@use "../Base/mixins";

.testimonials {
  height: 75vh;
  @include mixins.flex-center;
  .testi-heading {
    @include mixins.heading;
    & {
      text-align: center;
      margin-top: 1rem;
    }
  }

  .testi-grid {
    @include mixins.grid-3col;
    & {
      column-gap: 3rem;
      margin: 3.75rem 8.44rem;
    }

    .customer {
      @include mixins.flex-center;
      img {
        height: 9.4rem;
        width: 9.4rem;
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
      }
      h4 {
        font-family: "HelveticaNeueRoman";
        font-size: 0.85rem;
        font-weight: 700;

        color: #6a6a6a;
      }
      p {
        font-family: "HelveticaNeueRoman";
        font-size: 0.875rem;
        line-height: 1.2rem;
        color: #6a6a6a;
        text-align: center;
        margin-bottom: 1.5rem;
      }
    }
  }
}

//  #  MEDIA QUERIES

@media only screen and (max-width: 992px) {
  .testimonials {
    height: 100%;
    .service-container {
      margin: 4.125rem 0.56rem;
    }
    .testi-grid {
      margin: 4.125rem 0.56rem;
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 2rem;
      .customer {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .testimonials {
    .testi-grid {
      margin: 3rem 1rem;
    }
  }
}
