@font-face {
  font-family: "AlegreyaSansMed";
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: "AlegreyaSCMed";
  src: url(../fonts/AlegreyaSC-Medium.ttf);
}
@font-face {
  font-family: "AlegreyaSCReg";
  src: url(../fonts/AlegreyaSC-Regular.ttf);
}
@font-face {
  font-family: "HelveticaNeueRoman";
  src: url(../fonts/HelveticaNeueRoman.otf);
}
@font-face {
  font-family: "HelveticaNeueItalic";
  src: url(../fonts/HelveticaNeueItalic.ttf);
}
@font-face {
  font-family: "NixieOneReg";
  src: url(../fonts/NixieOne-Regular.ttf);
}
header {
  background: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.9rem 2.4rem 2.7rem 2.4rem;
}
header nav h1 a {
  font-family: "AlegreyaSCMed";
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
header nav h1 a:hover {
  text-decoration: underline;
}

.burger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
}
.burger:hover {
  cursor: pointer;
}

.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 13.5rem;
}
.main-heading h2 {
  font-family: "NixieOneReg";
  font-size: 3.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.main-heading p {
  font-family: "AlegreyaSCReg";
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 992px) {
  .main-heading {
    margin-top: 8rem;
  }
}
@media (max-width: 768px) {
  header {
    height: 70vh;
  }
  header .main-heading {
    margin-top: 6rem;
  }
  header .main-heading h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 0.75rem;
  }
  header .main-heading p {
    font-size: 1.1rem;
  }
}
.gallery .gallery-heading {
  margin: 3.75rem 8.44rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery .gallery-heading .heading h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.gallery .gallery-heading .heading p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.gallery .gallery-heading .heading-button button {
  width: 6rem;
  height: 2.875rem;
  border: 1px solid #3a4f52;
  background-color: #fff;
  cursor: pointer;
}
.gallery .gallery-heading .heading-button button:hover {
  background-color: #3a4f52;
}
.gallery .gallery-heading .heading-button button:hover a {
  color: #fff;
}
.gallery .gallery-heading .heading-button button a {
  font-family: "HelveticaNeueRoman";
  font-size: 1.125rem;
  color: #3a4f52;
  text-decoration: none;
}

.gallery-grid {
  margin: 3.75rem 8.44rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
}
.gallery-grid .container {
  width: 22.5rem;
  height: 13.4rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.gallery-grid .container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease 0s;
}
.gallery-grid .container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 56, 58, 0.6980392157);
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.gallery-grid .container .overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.gallery-grid .container .overlay-button a {
  font-family: "HelveticaNeueRoman";
  font-size: 0.85rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  width: 109px;
  height: 34px;
  border: 1px solid #fff;
  padding: 7px 13px;
}
.gallery-grid .container .overlay-button a:hover {
  background-color: #fff;
  color: #3a4f52;
}
.gallery-grid .container:hover img {
  transform: scale(1.1);
}
.gallery-grid .container:hover .overlay {
  opacity: 1;
}
.gallery-grid .container:hover .overlay-button {
  opacity: 1;
}

@media (max-width: 992px) {
  .gallery .gallery-heading {
    margin: 4.125rem 0.56rem;
  }
  .gallery .gallery-heading .heading-button {
    padding-right: 0.6rem;
  }
  .gallery .gallery-grid {
    margin: 4.125rem 0.56rem;
  }
  .gallery .gallery-grid .container {
    min-width: 13.75rem;
    min-height: 8.674rem;
  }
}
@media (max-width: 768px) {
  .gallery .gallery-grid {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .gallery .gallery-grid .container {
    width: 99%;
  }
}
.service {
  background: url(../img/hero2.png);
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-container {
  margin: 5rem 8.44rem 5rem 8.44rem;
  background-color: rgba(0, 0, 0, 0.2);
  max-height: 90%;
}
.service-container .service-heading {
  padding-top: 1.25rem;
  text-align: center;
}
.service-container .service-heading h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.service-container .service-heading p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.service-container .service-heading h3 {
  color: #fff;
  margin-bottom: 1.25rem;
}
.service-container .service-heading p {
  color: #fff;
}
.service-container .service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
  row-gap: 3rem;
  margin: 3rem 0.25rem;
}
.service-container .service-grid .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-container .service-grid .services img {
  width: 3.75rem;
  height: 3.75rem;
}
.service-container .service-grid .services h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.service-container .service-grid .services p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.service-container .service-grid .services h3 {
  color: #fff;
  margin-bottom: 1.25rem;
}
.service-container .service-grid .services p {
  color: #fff;
  text-align: center;
  padding: 0 3rem;
}

@media (max-width: 992px) {
  .service {
    height: 100%;
  }
  .service .service-container {
    margin: 4.125rem 0.56rem;
  }
  .service .service-grid {
    margin: 4.125rem 0.56rem;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .service .service-grid .container {
    width: 13.75rem;
    height: 8.674rem;
  }
}
.blog {
  height: 100%;
}
.blog .blog-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.75rem 8.44rem;
}
.blog .blog-heading .heading h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.blog .blog-heading .heading p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.blog .blog-heading .heading-button button {
  width: 6rem;
  height: 2.875rem;
  border: 1px solid #3a4f52;
  background-color: #fff;
  cursor: pointer;
}
.blog .blog-heading .heading-button button:hover {
  background-color: #3a4f52;
}
.blog .blog-heading .heading-button button:hover a {
  color: #fff;
}
.blog .blog-heading .heading-button button a {
  font-family: "HelveticaNeueRoman";
  font-size: 1.125rem;
  color: #3a4f52;
  text-decoration: none;
}
.blog .blog-grid {
  margin: 3.75rem 8.44rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
}
.blog .blog-grid .blogpost {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 22.5rem;
}
.blog .blog-grid .blogpost img {
  width: 100%;
  object-fit: cover;
}
.blog .blog-grid .blogpost h4 {
  font-family: "AlegreyaSansMed";
  font-size: 1.875rem;
  font-weight: 500;
  color: #3a4f52;
  margin: 1rem 0;
}
.blog .blog-grid .blogpost .date {
  font-family: "HelveticaNeueItalic";
  margin-bottom: 1rem;
}
.blog .blog-grid .blogpost p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
  margin-bottom: 1rem;
}
.blog .blog-grid .blogpost a {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #4da7ca;
  text-decoration: none;
}
.blog .blog-grid .blogpost a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .blog .blog-heading {
    margin: 4.125rem 0.56rem;
  }
  .blog .blog-heading .heading-button {
    padding-right: 0.6rem;
  }
  .blog .blog-grid {
    margin: 4.125rem 0.56rem;
  }
  .blog .blog-grid .blogpost {
    min-width: 13.75rem;
  }
}
@media (max-width: 768px) {
  .blog .blog-grid {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .blog .blog-grid .blogpost {
    width: 99%;
  }
}
.quote {
  background: url(../img/hero3.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quote-container h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.quote-container p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.quote-container {
  padding: 1.2rem 0.8rem;
  margin: 0 8.44rem;
  background-color: rgba(0, 0, 0, 0.2);
  max-height: 90%;
}
.quote-container h3 {
  color: #fff;
  padding: 0 2rem;
}
.quote-container .container-button {
  margin-top: 3rem;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "HelveticaNeueRoman";
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
}
.quote-container .container-button:hover {
  background-color: #fff;
  color: #6a6a6a;
}

@media (max-width: 992px) {
  .quote {
    height: 100%;
  }
  .quote .quote-container {
    margin: 4.125rem 0.56rem;
  }
  .quote .quote-container h3 {
    text-align: center;
    padding: 0 1rem;
  }
  .quote .quote-container .container-button {
    border: 1px solid #fff;
    background-color: transparent;
    font-family: "HelveticaNeueRoman";
    font-size: 1.125rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
  }
  .quote .quote-container .container-button:hover {
    background-color: #fff;
    color: #6a6a6a;
  }
}
.testimonials {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonials .testi-heading {
  text-align: center;
  margin-top: 1rem;
}
.testimonials .testi-heading h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.testimonials .testi-heading p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.testimonials .testi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
  column-gap: 3rem;
  margin: 3.75rem 8.44rem;
}
.testimonials .testi-grid .customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonials .testi-grid .customer img {
  height: 9.4rem;
  width: 9.4rem;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.testimonials .testi-grid .customer h4 {
  font-family: "HelveticaNeueRoman";
  font-size: 0.85rem;
  font-weight: 700;
  color: #6a6a6a;
}
.testimonials .testi-grid .customer p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: #6a6a6a;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (max-width: 992px) {
  .testimonials {
    height: 100%;
  }
  .testimonials .service-container {
    margin: 4.125rem 0.56rem;
  }
  .testimonials .testi-grid {
    margin: 4.125rem 0.56rem;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2rem;
  }
  .testimonials .testi-grid .customer {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .testimonials .testi-grid {
    margin: 3rem 1rem;
  }
}
.contact {
  background: url(../img/hero4.png);
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact form h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.contact form p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.contact form {
  background-color: rgba(0, 0, 0, 0.2);
  width: 85%;
  height: 85%;
}
.contact form h3,
.contact form p {
  color: #fff;
  margin-bottom: 1.5rem;
}
.contact form .container-button {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "HelveticaNeueRoman";
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
}
.contact form .container-button:hover {
  background-color: #fff;
  color: #6a6a6a;
}
.contact form input {
  width: 50%;
  height: 10%;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  font-family: "HelveticaNeueRoman";
  font-weight: 400;
  font-size: 1rem;
}
.contact form input::placeholder {
  color: #fff;
  padding-left: 1rem;
}
.contact form input:last-of-type {
  height: 15%;
}

@media (max-width: 992px) {
  .contact form {
    width: 100%;
  }
  .contact form input {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .contact form input {
    width: 90%;
  }
}
footer {
  height: 10rem;
  background-color: #2b3e51;
}
footer p {
  font-family: "HelveticaNeueRoman";
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #fff;
  padding: 4.5rem 8rem;
}

@media (max-width: 992px) {
  footer p {
    padding: 2rem 3rem;
  }
}
@media (max-width: 768px) {
  footer p {
    padding: 2rem 2rem;
    width: 45%;
    text-wrap: wrap;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
