@font-face {
  font-family: "AlegreyaSansMed";
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: "AlegreyaSCMed";
  src: url(../fonts/AlegreyaSC-Medium.ttf);
}
@font-face {
  font-family: "AlegreyaSCReg";
  src: url(../fonts/AlegreyaSC-Regular.ttf);
}
@font-face {
  font-family: "HelveticaNeueRoman";
  src: url(../fonts/HelveticaNeueRoman.otf);
}
@font-face {
  font-family: "HelveticaNeueItalic";
  src: url(../fonts/HelveticaNeueItalic.ttf);
}
@font-face {
  font-family: "NixieOneReg";
  src: url(../fonts/NixieOne-Regular.ttf);
}
header {
  background: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.9rem 2.4rem 2.7rem 2.4rem;
}
header nav h1 {
  font-family: "AlegreyaSCMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #fff;
}

.burger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
}

.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 13.5rem;
}
.main-heading h2 {
  font-family: "NixieOneReg";
  font-size: 3.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.main-heading p {
  font-family: "AlegreyaSCReg";
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}

.gallery .gallery-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.75rem 8.44rem;
}
.gallery .gallery-heading .heading h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.gallery .gallery-heading .heading p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.gallery .gallery-heading .heading-button button {
  width: 6rem;
  height: 2.875rem;
  border: 1px solid #3a4f52;
  background-color: #fff;
  cursor: pointer;
}
.gallery .gallery-heading .heading-button button a {
  font-family: "HelveticaNeueRoman";
  font-size: 1.125rem;
  color: #3a4f52;
  text-decoration: none;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 3.75rem 8.44rem;
}
.gallery-grid .container {
  width: 22.5rem;
  height: 13.4rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.gallery-grid .container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease 0s;
}
.gallery-grid .container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 56, 58, 0.6980392157);
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.gallery-grid .container .overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.gallery-grid .container .overlay-button a {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: white;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 7px 13px;
}
.gallery-grid .container:hover img {
  transform: scale(1.1);
}
.gallery-grid .container:hover .overlay {
  opacity: 1;
}
.gallery-grid .container:hover .overlay-button {
  opacity: 1;
}

.service {
  background: url(../img/hero2.png);
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-container {
  margin: 5rem 8.44rem 5rem 8.44rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.service-container .service-heading {
  padding-top: 1.25rem;
  text-align: center;
}
.service-container .service-heading h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.service-container .service-heading p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.service-container .service-heading h3 {
  color: #fff;
  margin-bottom: 1.25rem;
}
.service-container .service-heading p {
  color: #fff;
}
.service-container .service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  row-gap: 3rem;
  margin: 3rem 0.25rem;
}
.service-container .service-grid .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-container .service-grid .services img {
  width: 3.75rem;
  height: 3.75rem;
}
.service-container .service-grid .services h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.service-container .service-grid .services p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.service-container .service-grid .services h3 {
  color: #fff;
  margin-bottom: 1.25rem;
}
.service-container .service-grid .services p {
  color: #fff;
  text-align: center;
  padding: 0 3rem;
}

.blog {
  height: 100vh;
}
.blog .blog-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem 8.44rem;
}
.blog .blog-heading .heading h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.blog .blog-heading .heading p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.blog .blog-heading .heading-button button {
  width: 6rem;
  height: 2.875rem;
  border: 1px solid #3a4f52;
  background-color: #fff;
  cursor: pointer;
}
.blog .blog-heading .heading-button button a {
  font-family: "HelveticaNeueRoman";
  font-size: 1.125rem;
  color: #3a4f52;
  text-decoration: none;
}
.blog .blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 3.75rem 8.44rem;
}
.blog .blog-grid .blogpost {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 22.5rem;
}
.blog .blog-grid .blogpost img {
  width: 100%;
  object-fit: cover;
}
.blog .blog-grid .blogpost h4 {
  font-family: "AlegreyaSansMed";
  font-size: 1.875rem;
  font-weight: 500;
  color: #3a4f52;
  margin: 1rem 0;
}
.blog .blog-grid .blogpost .date {
  font-family: "HelveticaNeueItalic";
  margin-bottom: 1rem;
}
.blog .blog-grid .blogpost p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
  margin-bottom: 1rem;
}
.blog .blog-grid .blogpost a {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #4da7ca;
  text-decoration: none;
}

.quote {
  background: url(../img/hero3.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 8.44rem;
  padding: 1.2rem 0.8rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.quote-container h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.quote-container p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.quote-container h3 {
  color: #fff;
  padding: 0 2rem;
}
.quote-container .container-button {
  height: 2.2rem;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "HelveticaNeueRoman";
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.01rem;
  cursor: pointer;
}

.testimonials {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonials .testi-heading {
  text-align: center;
}
.testimonials .testi-heading h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.testimonials .testi-heading p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.testimonials .testi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  column-gap: 3rem;
  margin: 3.75rem 8.44rem;
}
.testimonials .testi-grid .customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonials .testi-grid .customer img {
  height: 9.4rem;
  width: 9.4rem;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.testimonials .testi-grid .customer h4 {
  font-family: "HelveticaNeueRoman";
  font-size: 0.85rem;
  font-weight: 700;
  color: #6a6a6a;
}
.testimonials .testi-grid .customer p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact {
  background: url(../img/hero4.png);
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 85%;
  height: 85%;
}
.contact form h3 {
  font-family: "AlegreyaSansMed";
  font-size: 2.25rem;
  font-weight: 500;
  color: #3a4f52;
}
.contact form p {
  font-family: "HelveticaNeueRoman";
  font-size: 0.875rem;
  color: #6a6a6a;
}
.contact form h3,
.contact form p {
  color: #fff;
  margin-bottom: 1.5rem;
}
.contact form .container-button {
  height: 2.2rem;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "HelveticaNeueRoman";
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.01rem;
  cursor: pointer;
}
.contact form input {
  width: 50%;
  height: 10%;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 1rem;
  color: #fff;
  font-family: "HelveticaNeueRoman";
  font-weight: 400;
  font-size: 1rem;
}
.contact form input:last-of-type {
  height: 20%;
  padding-top: 0;
}

footer {
  height: 10rem;
  background-color: #2b3e51;
}
footer p {
  font-family: "HelveticaNeueRoman";
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  padding: 4.5rem 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
